/*http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
 License: none (public domain)
 */
 body {
   width: 960px;
}
.hotdog p {background: maroon;
 font-size: 20px;
 width: 17em;}
.hotdog p.mustard {background: yellow;
 font-size: 17px;
 width: 20em;
 right: 9px;
 top: 10px;}
div {
  background:
 url("foreground.png") 0 0 no-repeat,
 url("middle-ground.png") 0 0 no-repeat,
 url("background.png") 0 0 no-repeat;
}

p { display: inline;}
p { border-radius: 14px 3px;}
p {margin: 0px;}
h1, h3, h4, h5, p {
margin-bottom: 0px;
}
